
<h2>New Event Form</h2>
<form action="/calendar/new-event/_add">
    <div class="formbuilder-text form-group field-name">
        <label for="name" class="formbuilder-text-label">Event Name</label>
        <input type="text" class="form-control" name="name" access="false" id="name" required>
    </div>
    <div class="formbuilder-text form-group field-contributor">
        <label for="contributor" class="formbuilder-text-label">Submitted by</label>
        <input type="text" class="form-control" name="contributor" access="false" id="contributor" required>
    </div>
    <div class="formbuilder-date form-group field-startDate">
        <label for="startDate" class="formbuilder-date-label">Event Date</label>
        <input type="date" class="form-control" name="startDate" access="false" id="startDate" required>
    </div>
    <div class="formbuilder-text form-group field-start">
        <label for="start" class="formbuilder-text-label">Start Time</label>
        <input type="time" class="form-control" name="start" access="false" id="start" required>
    </div>
    <div class="formbuilder-text form-group field-end">
        <label for="end" class="formbuilder-text-label">End Time</label>
        <input type="time" class="form-control" name="end" access="false" id="end" required>
    </div>
    <input type="submit" value="Submit">
</form>

