<h2>New Trip Form</h2>
<form action="/vacation/new-trip/_add">
    <div class="formbuilder-text form-group field-dest">
        <label for="dest" class="formbuilder-text-label">Destination<span class="formbuilder-required">*</span></label>
        <input type="text" class="form-control" name="dest" access="false" id="dest" required="required" aria-required="true">
    </div>
    <div class="formbuilder-number form-group field-days">
        <label for="days" class="formbuilder-number-label">Minimum Days<span class="formbuilder-required">*</span></label>
        <input type="number" class="form-control" name="days" access="false" value="1" min="1" step="1" id="days" required="required" aria-required="true">
    </div>
    <div class="formbuilder-number form-group field-cost">
        <label for="cost" class="formbuilder-number-label">Approximate Cost<span class="formbuilder-required">*</span></label>
        <input type="number" class="form-control" name="cost" access="false" min="0" id="cost" required="required" aria-required="true">
    </div>
    <div class="formbuilder-textarea form-group field-notes">
        <label for="notes" class="formbuilder-textarea-label">Description<span class="formbuilder-required">*</span></label>
        <textarea type="textarea" class="form-control" name="notes" access="false" id="notes" required="required" aria-required="true"></textarea>
    </div>
    <input type="submit" value="Submit">
</form>